@page
@model IndexModel
@{
    ViewData["Title"] = "Cities";
}
<div>
    <h3><a href="/CreateProperty">+ Nova Propriedade</a></h3>
    <hr />
</div>
@foreach (var city in Model.Cities)
{
    <div>
        <h3><a href="/city/@city.Name">@city.Name</a> - @city.Country?.Name</h3>
    </div>
    <hr />
}